# EditorConfig - Consistent Coding Style
# https://editorconfig.org
# https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# PHP files
[*.php]
indent_style = space
indent_size = 4
max_line_length = 120

# JavaScript files
[*.js]
indent_style = space
indent_size = 2
max_line_length = 100

# CSS files
[*.css]
indent_style = space
indent_size = 2

# HTML files
[*.{html,php}]
# indent_style = space
# indent_size = 4

# JSON files
[*.json]
indent_style = space
indent_size = 2

# SQL files
[*.sql]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Shell and PowerShell scripts
[*.{sh,bash,ps1}]
indent_style = space
indent_size = 4
